version: '3.6'
services:
  iris:
    build:
      context: .
      dockerfile: Dockerfile
    command: --check-caps false
    restart: always
    ports:
      - 1972
      - 52783:52773
      - 53773
    volumes:
      - ./:/home/irisowner/dev
