<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="text-extractor.ZPM">
    <Module>
      <Name>text-extractor</Name>
      <Version>2.1.0</Version>
      <Description>Extracts text from .pdf, images and .pptx files</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="NSolov.TextExtract.PKG"/>
    </Module>
  </Document>
</Export>
